.chats {
  max-width: 670px;
  overflow-y: scroll;
  padding: 7rem;
}
.chats::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.userMessage {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  max-width: 500px;
  width: fit-content;
  margin-left: 15rem;
}

.grokDiv {
  text-align: left;
  font-size: 0.9rem;
}

.hljs {
  border-radius: 14px !important;
}
